{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2015,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": "htmlacademy/es6",
  "rules": {
    "semi": "error",
    "quotes": "off"
  }
}
